/* body{
    font-family: "Inconsolata", monospace;
  }
  header{
    background-color: #e4e4e8;
    padding-top: 18px;
    padding-bottom: 18px;
    box-shadow: 0 7px 8px -3px grey;
    position: fixed;
    width: 100%;
    margin-top: -10px;
    z-index: 99;
  }
  .container{
    max-width: 1200px;
    text-align: center;
    margin: auto;
  }
  .header-section{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    position: relative;
  }
  .header-section div{
    position: relative;
  }
  .header-section p{
    position: absolute;
    top: -24px;
    right: -8px;
    background-color: #fff;
    padding: 1px 6px;
    border-radius: 50%;
    color: red;
    font-weight: 700;
    font-family: "Inconsolata", monospace;
    line-height: 18px;
  }
  .header-title {
    text-align: center;
    font-size: 2.5em;
    font-family: "Poppins", sans-serif;
    margin: 10px 0;
    color: #454546;
  }
  .logo{
    width: 164px;
    height: 84px;
    cursor: pointer;
  }
  .logo:hover{
    width: 227px;
    height: 124px;
    transition-duration: .5s;
  } */