* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #ddeefc;
  font-family: 'Lato',sans-serif;
}
.container-card {
  width: 90%;
  max-width: 1000px;
  padding: 40px 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  width: 100%;
  max-width: 550px;
  position: relative;
  color: #fff;
  transition: .3s ease all;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  cursor: pointer;
  z-index: 2;
}
.card:active {
  transform: rotateY(180deg);
}
.card > div {
  padding: 30px;
  border-radius: 15px;
  min-height: 315px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3);
}
/* parte delantera de la tarjeta */
.card .front {
  width: 100%;
  background: url(../img/bg-tarjeta/bg-tarjeta-02.jpg);
  background-size: cover;
}
.front .logo {
  text-align: right;
  min-height: 50px;
}
.front .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 80px;
}
.front .chip {
  width: 100%;
  max-width: 50px;
  margin-bottom: 20px;
}
.front .group .label {
  font-size: 16px;
  color: #7d8994;
  margin-bottom: 5px;
}
.front .group .number,
.front .group .name,
.front .group .expiration {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}
.front .flexbox {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}






/* body{
    font-family: "Inconsolata", monospace;
  }
  header{
    background-color: #e4e4e8;
    padding-top: 18px;
    padding-bottom: 18px;
    box-shadow: 0 7px 8px -3px grey;
    position: fixed;
    width: 100%;
    margin-top: -10px;
    z-index: 99;
  }
  .container{
    max-width: 1200px;
    text-align: center;
    margin: auto;
  }
  .header-section{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    position: relative;
  }
  .header-section div{
    position: relative;
  }
  .header-section p{
    position: absolute;
    top: -24px;
    right: -8px;
    background-color: #fff;
    padding: 1px 6px;
    border-radius: 50%;
    color: red;
    font-weight: 700;
    font-family: "Inconsolata", monospace;
    line-height: 18px;
  }
  .header-title {
    text-align: center;
    font-size: 2.5em;
    font-family: "Poppins", sans-serif;
    margin: 10px 0;
    color: #454546;
  }
  .logo{
    width: 164px;
    height: 84px;
    cursor: pointer;
  }
  .logo:hover{
    width: 227px;
    height: 124px;
    transition-duration: .5s;
  } */
